<div ng-controller="VenueListCtrl">
    <div ng-repeat="venue in venues">
        <div ui-sref="venuedetail({venueName:venue.showname,venueId:venue.id})">
        <!--  ui-sref="venuedetail({venueId:venue.id,venueName:venue.showname})" -->
            
            <div class="panel">
                <div>
                    <img ng-src="{{venue.picSrc}}" class="img-rounded" width="100%" height="200px">
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <strong>{{venue.name}}</strong>
                    </div>
                    <div class="col-xs-6 text-right">
                        
                        <!-- <span ng-repeat=" in venue.rate"><i class="icon ion-android-star"></i></span> -->
                        <i class="icon ion-android-star"></i>
                         ({{venue.rate}})
                        <!-- ion-android-star  ion-android-star-outline -->
                    </div>
                </div>
                <div>
                    <i class="icon ion-ios-location-outline"></i> {{venue.position}}
                </div>
                <div class='row'>
                    <div class="col-xs-6">
                        <i class="icon ion-android-time"></i> {{venue.time}}
                    </div>
                    <div class="col-xs-6 text-right">
                        {{venue.price}}
                    </div>
                </div>
            </div>
        </div>
     <!--        场地:{{venue.name}}<br>
            位置:{{venue.position}}<br>
            时间:{{venue.time}}<br>
            价格:{{venue.price}}<br>
            等级:{{venue.rate}}<br></a> -->
    </div>
</div>